* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

li {
  list-style: none;
}

.pokemon-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.pokemon-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.pokemon {
  margin: 2em 2em 0 2em;
}

.details {
  background-color: whitesmoke;
  position: absolute;
  top: 0.4em;
  width: 95%;
  height: 95%;
  transform: translateY(110%);
  transition: 1s;
  border-radius: 2%;
  margin-left: 2.5%;
  padding-bottom: 0;
}

.pokemon-wrapper:hover .details {
  transform: initial;
  transition: 1s;
}

@media only screen and (max-width: 500px) {
  .pokemon-cards {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }
}
